<% provide(:title, "履修科目") %>
<div>
  <div class="flex justify-between items-center">
    <h3 class="text-xl font-semibold leading-7 text-white">履修科目</h3>
    <div>
      <%= link_to(new_users_subject_path, class: "text-xl") do %>
        <i class="fa-sharp fa-solid fa-plus"></i>
      <% end %>
    </div>
  </div>
  <div class="mt-6 pt-6 border-t border-gray-100">
    <div class="relative overflow-x-auto">
      <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
        <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
          <tr>
            <th scope="col" class="px-6 py-3">授業名</th>
            <th scope="col" class="px-6 py-3">授業曜日</th>
            <th scope="col" class="px-6 py-3">時間</th>
            <th scope="col" class="px-6 py-3">部屋</th>
            <th scope="col" class="px-6 py-3">学期</th>
            <th scope="col" class="px-6 py-3">単位</th>
            <th scope="col" class="px-6 py-3">編集 / 削除</th>
          </tr>
        </thead>
        <tbody>
          <% @subjects.each do |subject| %>
            <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
              <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                <%= subject.subject_name %>
              </th>
              <td class="px-6 py-4"><%= subject.day_i18n %></td>
              <td class="px-6 py-4"><%= subject.class_schedule.name %></td>
              <td class="px-6 py-4"><%= subject.classroom.building_id %>号館・<%= subject.classroom.room_number %></td>
              <td class="px-6 py-4">
                <%= subject.semester.year %><%= subject.semester.gakki_i18n %>
                <% if subject.half_semester.present? %>
                  <%= subject.half_semester.season_type_i18n %>
                <% end %>
              </td>
              <td class="px-6 py-4"><%= subject.credits %></td>
              <td class="px-6 py-4">
                <div>
                  <%= link_to(users_subject_path(subject), data: { turbo_method: :delete, turbo_confirm: "「#{subject.subject_name}」を削除しますか？" }, class: "text-xl") do %>
                    <i class="fa-solid fa-trash"></i>
                  <% end %>
                </div>
              </td>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
</div>
