<!DOCTYPE html>
<html>
  <head>
    <title><% yield(:title) %> - KITPortalWalk</title>
    <%= render("layouts/head") %>
  </head>
  <body class="bg-gray-800 text-gray-100">
    <% if alert %>
      <div class="bg-red-500 text-white p-4">
        <%= alert %>
      </div>
    <% end %>
    <% if notice %>
      <div class="bg-green-500 text-white p-4">
        <%= notice %>
      </div>
    <% end %>
    <%= render("layouts/header") %>
    <div class="flex h-full py-8">
      <%= render("users/layouts/drawer") %>
      <main class="flex-1 mx-8">
        <%= yield %>
      </main>
    </div>
    <%= render("layouts/footer") %>
  </body>
</html>
