<!DOCTYPE html>
<html>
  <head>
    <title><% yield(:title) %> - KITPortalWalk Admin</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>
  <body class="bg-sky-950 text-gray-100">
    <% if alert %>
      <div class="bg-red-500 text-white p-4">
        <%= alert %>
      </div>
    <% end %>
    <% if notice %>
      <div class="bg-green-500 text-white p-4">
        <%= notice %>
      </div>
    <% end %>
    <%= yield %>
  </body>
</html>
