<% provide(:title, "学期") %>
<div>
  <div class="flex justify-between items-center">
    <h3 class="text-xl font-semibold leading-7 text-white">学期</h3>
    <div>
      <%= link_to(new_admin_semester_path, class: "text-xl") do %>
        <i class="fa-sharp fa-solid fa-plus"></i>
      <% end %>
    </div>
  </div>
  <div class="mt-6 pt-6 border-t border-gray-100">
    <%= form_with url: admin_semesters_path, method: :post do |f| %>
      <div class="border-b border-gray-600 mb-6 pb-6">
        <div class="w-32">
          <%= f.label :year, "年度", class: "block text-sm font-medium leading-6" %>
          <div class="mt-2">
            <%= f.text_field :year, class: "block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6" %>
          </div>
        </div>
        <div class="mt-6 w-32">
          <%= f.label :gakki, "学期", class: "block text-sm font-medium leading-6" %>
          <div class="mt-2">
            <%= f.select :gakki, Semester.gakkis.keys.map { |k| [t("enums.semester.gakki.#{k}"), k] }, {}, {class: "border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:border-gray-600 dark:placeholder-gray-400 dark:focus:ring-blue-500 dark:focus:border-blue-500"} %>
          </div>
        </div>
        <div class="mt-6 grid grid-cols-5 gap-4">
          <div class="col-span-2">
            <%= f.label :start_date, "開始日", class: "block text-sm font-medium leading-6" %>
            <div class="mt-2">
              <%= f.date_field :start_date, class: "block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6" %>
            </div>
          </div>
          <div class="col-span-2">
            <%= f.label :end_date, "終了日", class: "block text-sm font-medium leading-6" %>
            <div class="mt-2">
              <%= f.date_field :end_date, class: "block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6" %>
            </div>
          </div>
        </div>
      </div>
      <div class="grid grid-cols-2">
        <div class="col-span-1 border-r border-gray-600 mr-6 pr-6">
          <div class="w-32">
            <%= f.label "half_semester[][season_type]", "半学期", class: "block text-sm font-medium leading-6" %>
            <div class="mt-2">
              <%= f.select "half_semester[][season_type]", HalfSemester.season_types.keys.map { |k| [t("enums.half_semester.season_type.#{k}"), k] }, {}, {class: "border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:border-gray-600 dark:placeholder-gray-400 dark:focus:ring-blue-500 dark:focus:border-blue-500"} %>
            </div>
          </div>
          <div class="mt-6 w-full">
            <%= f.label :end_date, "終了日", class: "block text-sm font-medium leading-6" %>
            <div class="mt-2">
              <%= f.date_field :end_date, name: "half_semester[][end_date]", class: "block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6" %>
            </div>
          </div>
        </div>
        <div class="col-span-1">
          <div class="w-32">
            <%= f.label "half_semester[][season_type]", "半学期", class: "block text-sm font-medium leading-6" %>
            <div class="mt-2">
              <%= f.select "half_semester[][season_type]", HalfSemester.season_types.keys.map { |k| [t("enums.half_semester.season_type.#{k}"), k] }, {}, {class: "border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:border-gray-600 dark:placeholder-gray-400 dark:focus:ring-blue-500 dark:focus:border-blue-500"} %>
            </div>
          </div>
        </div>
      </div>
      <div class="mt-8">
        <%= f.submit "送信", class: "inline-flex items-center px-4 py-2 text-sm font-semibold bg-blue-400 text-gray-900 rounded-md hover:bg-blue-300 hover:text-gray-100 focus:z-20 focus:outline-offset-0" %>
        <%= link_to "戻る", admin_semesters_path, class: "inline-flex items-center px-4 py-2 text-sm font-semibold bg-gray-100 text-gray-900 rounded-md hover:bg-gray-300 hover:text-gray-100 focus:z-20 focus:outline-offset-0" %>
      </div>
    <% end %>
  </div>
</div>
