<%= turbo_frame_tag 'calendar' do %>
  <%= month_calendar events: @schedules do |date, events| %>
    <%= date %>
    <% events.each do |event| %>
      <div>
        <% if event.respond_to?(:day) %>
          <%= event.day %>
        <% else %>
          <%= event.title %>
        <% end %>
      </div>
    <% end %>
  <% end %>
<% end %>
