<% provide(:title, "学年暦") %>
<div>
  <div class="flex justify-between items-center">
    <h3 class="text-xl font-semibold leading-7 text-white">学年暦</h3>
    <%= link_to(new_admin_academic_calendar_path, class: "text-xl") do %>
      <i class="fa-solid fa-file-import"></i>
    <% end %>
  </div>
  <div class="mt-6 border-t border-gray-100">
    <div class="mt-4">
      <%= turbo_frame_tag 'calendar' do %>
        <%= month_calendar events: @schedules do |date, events| %>
          <%= date %>
          <% events.each do |event| %>
            <div>
              <% if event.respond_to?(:day) %>
                <%= event.day %>
              <% else %>
                <%= event.title %>
              <% end %>
            </div>
          <% end %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
