<% provide(:title, "学年暦") %>
<div>
  <div class="flex justify-between items-center">
    <h2 class="text-xl font-semibold leading-7 text-white">学年暦</h2>
  </div>
  <div class="mt-6 pt-6 border-t border-gray-100">
    <%= form_with url: admin_academic_calendars_path, method: :post do |f| %>
      <div>
        <%= f.label :upload_file, class: "block text-sm font-medium leading-6" %>
        <%= f.file_field(:upload_file) %>
      </div>
      <div class="mt-8">
        <%= f.submit "送信", class: "inline-flex items-center px-4 py-2 text-sm font-semibold bg-blue-400 text-gray-900 hover:bg-blue-300 hover:text-gray-100 focus:z-20 focus:outline-offset-0" %>
        <%= link_to "戻る", admin_academic_calendars_path, class: "inline-flex items-center px-4 py-2 text-sm font-semibold bg-gray-100 text-gray-900 hover:bg-gray-300 hover:text-gray-100 focus:z-20 focus:outline-offset-0" %>
      </div>
    <% end %>
  </div>
</div>
